# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
*.log
srv/.idea/
cli/Debug.win32/
cli/cocos2dx/
cli/external/
cli/CocosDenshion/
cli/extensions/
cli/scripting/
cli/plugin/
cli/tools/



